{% extends 'calculator/base.html' %}

{% block title %}Moyenne AutoInfoInduM2S1{% endblock %}

{% block content %}
    <h1>Calculez la moyenne M2 Automatique et Informatique Insudtielle du 1er semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
     const fieldData = [
  { label: 'Examen Commande avancée: Coefficient 3:', name: 'exam-commande-avancee' },
  { label: 'TD Commande avancée: Coefficient 3:', name: 'TD-commande-avancee' },
  { label: 'Examen Commande de robots de manipulation: Coefficient 2:', name: 'exam-commande-robots' },
  { label: 'TD Commande de robots de manipulation: Coefficient 2:', name: 'TD-commande-robots' },
  { label: 'Examen Systèmes à évènement discrets: Coefficient 2:', name: 'exam-evenement-discrets' },
  { label: 'TD Systèmes à évènement discrets: Coefficient 2:', name: 'TD-evenement-discrets' },
  { label: 'Examen FPGA et programmation VHDL: Coefficient 2:', name: 'exam-fpga' },
  { label: 'TD FPGA et programmation VHDL: Coefficient 2:', name: 'TD-fpga' },
  { label: 'Examen Supervision industrielle: Coefficient 2:', name: 'exam-supervision' },
  { label: 'TP Supervision industrielle: Coefficient 2:', name: 'TD-supervision' },
  { label: 'TP Commande avancée: Coefficient 1:', name: 'TP-commande-avancee' },
  { label: 'TP Commande de robots de manipulation: Coefficient 1:', name: 'TP-commande-robots' },
  { label: 'TP FPGA et programmation VHDL: Coefficient 1:', name: 'TP-fpga' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix1' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix2' },
  { label: 'Examen Recherche documentaire et conception de mémoire: Coefficient 1:', name: 'exam-recherche-documentaire' },
  // Add more field objects as needed
];





        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
