{% extends 'calculator/base.html' %}

{% block title %}Moyenne AutoInfoInduM1S2{% endblock %}

{% block content %}
    <h1>Calculez la moyenne M1 Automatique et Informatique Insudtielle du 2eme semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
      const fieldData = [
  { label: 'Examen Systèmes non linéaires: Coefficient 3:', name: 'exam-non-lineaires' },
  { label: 'TD Systèmes non linéaires: Coefficient 3:', name: 'TD-non-lineaires' },
  { label: 'Examen Systèmes Embarqués et systèmes temps réels: Coefficient 2:', name: 'exam-embarques' },
  { label: 'TD Systèmes Embarqués et systèmes temps réels: Coefficient 2:', name: 'TD-embarques' },
  { label: 'Examen Programmation avancée des API: Coefficient 2:', name: 'exam-api' },
  { label: 'TD Programmation avancée des API: Coefficient 2:', name: 'TD-api' },
  { label: 'Examen Electronique Appliquée: Coefficient 2:', name: 'exam-electronique' },
  { label: 'TD Electronique Appliquée: Coefficient 2:', name: 'TD-electronique' },
  { label: 'Examen Conception orientée objet: Coefficient 2:', name: 'exam-conception' },
  { label: 'TP Conception orientée objet: Coefficient 2:', name: 'TD-conception' },
  { label: 'TP Systèmes non linéaires: Coefficient 1:', name: 'TP-non-lineaires' },
  { label: 'TP Systèmes Embarqués et systèmes temps réels: Coefficient 1:', name: 'TP-embarques' },
  { label: 'TP Programmation avancée des API/TP Electronique Appliquée: Coefficient 1:', name: 'TP-api-electronique' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix1' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix2' },
  { label: 'Examen Ethique, déontologie et propriété intellectuelle: Coefficient 1:', name: 'exam-ethique' },
  // Add more field objects as needed
];




        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
