{% extends 'calculator/base.html' %}

{% block title %}Moyenne Biomedical L2S2{% endblock %}

{% block content %}
    <h1>Calculez la moyenne L2 Biomedical du deuxieme semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
        const fieldData = [
  { label: 'Examen Capturs de grandeurs physiques: Coefficient 3:', name: 'exam-capturs' },
  { label: 'TD Capturs de grandeurs physiques: Coefficient 3:', name: 'TD-capturs' },
  { label: 'Examen Logique combinatoire et séquentielle: Coefficient 2:', name: 'exam-logique' },
  { label: 'TD Logique combinatoire et séquentielle: Coefficient 2:', name: 'TD-logique' },
  { label: 'Examen Méthodes numériques: Coefficient 2:', name: 'exam-methodes' },
  { label: 'TD Méthodes numériques: Coefficient 2:', name: 'TD-methodes' },
  { label: 'Examen Théorie du signal: Coefficient 2:', name: 'exam-signal' },
  { label: 'TD Théorie du signal: Coefficient 2:', name: 'TD-signal' },
  { label: 'Examen Mesures électriques et électroniques: Coefficient 2:', name: 'exam-mesures' },
  { label: 'TP Mesures électriques et électroniques: Coefficient 2:', name: 'TP-mesures' },
  { label: 'TP Capturs de grandeurs physiques: Coefficient 1:', name: 'TP-capturs' },
  { label: 'TP Logique combinatoire et séquentielle: Coefficient 1:', name: 'TP-logique' },
  { label: 'TP Méthodes numériques: Coefficient 1:', name: 'TP-methodes' },
  { label: 'Examen anatomie et physiologie: Coefficient 1:', name: 'exam-anatomie' },
  { label: 'Examen imagerie medicale: Coefficient 1:', name: 'exam-imagerie' },
  { label: 'Examen Techniques d\'expression et de communication: Coefficient 1:', name: 'exam-techniques' },
  // Add more field objects as needed
];


        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
