{% extends 'calculator/base.html' %}

{% block title %}Moyenne Electrotechnique L2S2{% endblock %}

{% block content %}
    <h1>Calculez la moyenne du Deuxieme semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
        const fieldData = [
            { label: 'Examen Electrotechnique fondamentale:  Coefficient 3:', name: 'exam-systemes' },
            { label: 'TD Electrotechnique fondamentale:  Coefficient 3:', name: 'TD-systemes' },
            { label: 'Examen Logique combinatoire et séquentielle: Coefficient 2 :', name: 'exam-logique' },
            { label: 'TD Logique combinatoire et séquentielle: Coefficient 2:', name: 'TD-logique' },
            { label: 'Examen Méthodes numériques: Coefficient 2:', name: 'exam-methodes' },
            { label: 'TD Méthodes numériques: Coefficient 2:', name: 'TD-methodes' },
            { label: 'Examen Théorie du signal: Coefficient 2:', name: 'exam-theorie' },
            { label: 'TD Théorie du signal: Coefficient 2:', name: 'TD-theorie' },
            { label: 'Exmen Mesures électriques et électroniques: Coefficient 1', name: 'exam-mesures' },
            { label: 'TP Mesures électriques et électroniques: Coefficient 1', name: 'TD-mesures' },
            { label: 'Examen Sécurité électrique: Coefficient 1:', name: 'exam-architecture' },
            { label: 'TP Electrotechnique fondamentale:  Coefficient 1:', name: 'TP-systemes' },
            { label: 'TP Logique combinatoire et séquentielle: Coefficient 1:', name: 'TP-logique' },
            { label: 'TP Méthodes numériques: Coefficient 1:', name: 'TP-methodes' },
            { label: 'Examen Production de l énergie électrique: Coefficient 1:', name: 'exam-securite' },
            { label: 'Examen Techniques expression et de communication: Coefficient 1:', name: 'exam-techniques' },
            // Add more field objects as needed
        ];

        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
