{% extends 'calculator/base.html' %}

{% block title %}Moyenne Machines Electriques M1S2{% endblock %}

{% block content %}
    <h1>Calculez la moyenne M1 Machines Electriques du 2eme semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
       const fieldData = [
  { label: 'Examen Modélisation des machines électriques: Coefficient 2:', name: 'exam-modelisation-machines' },
  { label: 'TD Modélisation des machines électriques: Coefficient 2:', name: 'TD-modelisation-machines' },
  { label: 'Examen Champ magnétique dans les machines électriques: Coefficient 2:', name: 'exam-champ-magnetique' },
  { label: 'TD Champ magnétique dans les machines électriques: Coefficient 2:', name: 'TD-champ-magnetique' },
  { label: 'Examen Asservissements échantillonnés et Régulation numérique: Coefficient 2:', name: 'exam-asservissements' },
  { label: 'TD Asservissements échantillonnés et Régulation numérique: Coefficient 2:', name: 'TD-asservissements' },
  { label: 'Examen Construction des machines électriques: Coefficient 2:', name: 'exam-construction-machines' },
  { label: 'TD Construction des machines électriques: Coefficient 2:', name: 'TD-construction-machines' },
  { label: 'Matériaux en électrotechnique et technique de haute tension: Coefficient 1', name: 'materiaux-haute-tension' },
  { label: 'TP Modélisation des machines électriques: Coefficient 1:', name: 'TP-modelisation-machines' },
  { label: 'TP Asservissements échantillonnés et Régulation numérique: Coefficient 1:', name: 'TP-asservissements' },
  { label: 'TP Champ magnétique dans les machines électriques: Coefficient 1:', name: 'TP-champ-magnetique' },
  { label: 'Examen Association machines-convertisseurs: Coefficient 2:', name: 'exam-association-machines' },
  { label: 'TP Association machines-convertisseurs: Coefficient 2:', name: 'TD-association-machines' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix1' },
  { label: 'Examen Matiere au choix: Coefficient 1:', name: 'exam-choix2' },
  { label: 'Examen Ethique, déontologie et propriété intellectuelle: Coefficient 1:', name: 'exam-ethique' },
  // Add more field objects as needed
];



        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
