{% extends 'calculator/base.html' %}

{% block title %}Moyenne SysEmbarquesm1s1{% endblock %}

{% block content %}
    <h1>Calculez la moyenne M1 Electronique des Systèmes Embarques du 1er semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
        const fieldData = [
  { label: 'Examen Conception des systèmes à microprocesseurs: Coefficient 3:', name: 'exam-conception' },
  { label: 'TD Conception des systèmes à microprocesseurs: Coefficient 3:', name: 'TD-conception' },
  { label: 'Examen Electronique numérique avancée: FPGA et VHDL: Coefficient 2:', name: 'exam-electronique' },
  { label: 'TD Electronique numérique avancée: FPGA et VHDL: Coefficient 2:', name: 'TD-electronique' },
  { label: 'Examen Traitement avancé du signal: Coefficient 2:', name: 'exam-traitement' },
  { label: 'TD Traitement avancé du signal: Coefficient 2:', name: 'TD-traitement' },
  { label: 'Examen Systèmes asservis numériques: Coefficient 2:', name: 'exam-systemes' },
  { label: 'TD Systèmes asservis numériques: Coefficient 2:', name: 'TD-systemes' },
  { label: 'Examen Programmation orientée objet en C++: Coefficient 2:', name: 'exam-programmation' },
  { label: 'TP Programmation orientée objet en C++: Coefficient 2:', name: 'TP-programmation' },
  { label: 'TP Conception des systèmes à microprocesseurs: Coefficient 1:', name: 'TP-conception' },
  { label: 'TP FPGA et VHDL: Coefficient 1:', name: 'TP-electronique' },
  { label: 'TP Traitement avancé du signal / TP Systèmes asservis numériques: Coefficient 1:', name: 'TP-traitement' },
  { label: 'Matière au choix 1: Coefficient 1:', name: 'exam-choix1' },
  { label: 'Matière au choix 2: Coefficient 1:', name: 'exam-choix2' },
  { label: 'Anglais technique et terminologie: Coefficient 1:', name: 'exam-angalais' },
  // Add more field objects as needed
];


        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
