{% extends 'calculator/base.html' %}

{% block title %}Moyenne SysEmbarquesm1s1{% endblock %}

{% block content %}
    <h1>Calculez la moyenne M1 Electronique des Systèmes Embarques du 2eme semestre </h1>

    <form method="post" action="#">
        {% csrf_token %}
        <div id="input-container"></div>
        <input type="submit" value="Submit">
    </form>

    <script>
        const fieldData = [
  { label: 'Examen Processeurs des signaux numériques (DSP): Coefficient 3:', name: 'exam-dsp' },
  { label: 'TD Processeurs des signaux numériques (DSP): Coefficient 3:', name: 'TD-dsp' },
  { label: 'Examen Capteurs intelligents et MEMS: Coefficient 2:', name: 'exam-capteurs' },
  { label: 'TD Capteurs intelligents et MEMS: Coefficient 2:', name: 'TD-capteurs' },
  { label: 'Examen Systèmes à microcontrôleurs: Coefficient 2:', name: 'exam-microcontroleurs' },
  { label: 'TD Systèmes à microcontrôleurs: Coefficient 2:', name: 'TD-microcontroleurs' },
  { label: 'Examen Réseaux et communications industriels: Coefficient 2:', name: 'exam-reseaux' },
  { label: 'TD Réseaux et communications industriels: Coefficient 2:', name: 'TD-reseaux' },
  { label: 'TP Processeurs des signaux numériques: Coefficient 1:', name: 'TP-dsp' },
  { label: 'TP Systèmes à microcontrôleurs: Coefficient 1:', name: 'TP-microcontroleurs' },
  { label: 'TP Capteurs intelligents / TP Réseaux industriels: Coefficient 1:', name: 'TP-capteurs-reseaux' },
  { label: 'Examen Etude et Réalisation des projets: Coefficient 2:', name: 'exam-etude' },
  { label: 'TP Etude et Réalisation des projets: Coefficient 2:', name: 'TD-etude' },
  { label: 'Examen Matière au choix 1: Coefficient 1:', name: 'exam-matiere1' },
  { label: 'Examen Matière au choix 2: Coefficient 1:', name: 'exam-matiere2' },
  { label: 'Examen Ethique, déontologie et propriété intellectuelle: Coefficient 1:', name: 'exam-ethique' },
  // Add more field objects as needed
];



        const inputContainer = document.getElementById('input-container');

        fieldData.forEach(field => {
            const inputBox = document.createElement('div');
            inputBox.className = 'input-box';

            const label = document.createElement('label');
            label.setAttribute('for', field.name);
            label.textContent = field.label;

            const input = document.createElement('input');
            input.type = 'text';
            input.id = field.name;
            input.name = field.name;

            inputBox.appendChild(label);
            inputBox.appendChild(input);
            inputContainer.appendChild(inputBox);
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = Array.from(document.querySelectorAll('.input-box input'));
            const areAllFieldsValid = inputs.every(input => isValidNumberInRange(input.value));
            const areAllFieldsFilled = inputs.every(input => input.value.trim() !== '');

            if (!areAllFieldsValid || !areAllFieldsFilled) {
                event.preventDefault();
                alert('قم بإدخال جميع الدرجات، تحقق من عدم نسيان أو خطأ في أحد الحقول!');
            }
        });

        function isValidNumberInRange(value) {
            const number = Number(value);
            return !isNaN(number) && number >= 0 && number <= 20;
        }
    </script>
{% endblock %}
