{% extends 'calculator/specialitiebase.html' %}

{% block title %}Moyenne Electronique des systèmes embarques Master{% endblock %}

{% block content %}
<div class="container">
    <h1>Quelle est ta spécialité ?</h1>
    <div class="button-container">
        <a href="{% url 'SysEmbarquesm1s1' %}">Calculez votre Moyenne - M1S1 Electronique des systèmes embarques </a>
        <a href="{% url 'SysEmbarquesm1s2' %}">Calculez votre Moyenne - M1S2 Electronique des systèmes embarques </a>
        <a href="{% url 'SysEmbarquesm2s1' %}">Calculez votre Moyenne - M2S1 Electronique des systèmes embarques </a>

        
    </div>

    <div class="contact-container">
        <h2 class="contact-title">Contact the Developer</h2>
        <h3 class="contact-subtitle">Or help me add more specialties</h3>
        <div class="contact-details">
            <p>Facebook: <a href="https://www.facebook.com/AbdellahZouggari">Abdellah Zouggari</a></p>
            <p>Instagram: <a href="https://www.instagram.com/abdellah_zou/">abdellah_zou</a></p>
            <p>Gmail: <a href="mailto:abdellahzouggari28@gmail.com">abdellahzouggari28@gmail.com</a></p>
        </div>
    </div>
</div>
{% endblock %}